.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F5F8FF;
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-dark{
    color: #252432;
}

.text-black{
    color: #000000;
}

.bold{
    font-weight: bold;
}

.medium{
    font-weight: 500;
}

.text-white{
    color: #FFFFFF;
}

.text-light{
    color: #8987A1;
}

.text-normal{
    color: rgba(0, 0, 0, 0.5);
}

.text-center{
    text-align: center;
}

.text-bold{
    color: #111111;
}

.text-color-orange{
    color: #E95A08;
}

.font-16{
    font-size: 16px;
}

.font-20{
    font-size: 20px;
}

.font-22{
    font-size: 22px;
}

.font-28{
    font-size: 28px;
}

.font-40{
    font-size: 40px;
}

.font-50{
    font-size: 50px;
}

.btn-primary{
    width: 270px;
    height: 50px;
    color: #FFFFFF;
    background-color: #E95A08;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.navbar,
.banner,
.plant-section,
.plants-lover-section,
.latest-deals-section{
    margin: 0 auto;
    width: 1140px;
}

/*navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.nav-list {
  gap: 48px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.nav-link {
  text-decoration: none;
}

.nav-item{
    list-style: none;
}

.cart-image{
    width: 24px;
    height: 24px;
}

.special-cart {
  display: flex;
  align-items: center;
  gap: 10px; 
}

/* banner styles */

.banner{
    margin: 0 auto;
    margin-top: 120px;
}

.banner-container{
    margin-top: 162px;
    height: 299px;
}

.banner-container, .banner-image{
    width: 50%;
}

.banner-title{
    margin-top: 0px;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 13px;
}

.banner-description{
    margin-top: 0px;
    font-size: 22px;
}

.banner-image{
    margin-top: 106px;
    height: 355px;
}

/* section styles */

/* plant-section */
.plant-section{
    margin-top: 120px;
}

.plant-title{
    margin-top: 0px;
    font-size: 50px;
}

.plant-description{
    margin-top: 16px;
}

.cart{
    margin-top: 49px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.flower-details-container{
    margin: 30px 69px;
    text-align: center;
}

.flower-details{
    margin-top: 0px;
    margin-bottom: 0px;
}

.flower-price{
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 30px;
}

/* plants-lover-section */
.plants-lover-section{
    margin-top: 210px;
}

.plants-lover-section, .plants-lover-container{
    display: flex;
}

.flower-store-image{
    width: 540px;
    height: auto;
}

.trusted-badge-image{
    width: 286px;
    height: 286px;
    margin-top: -150px;
    margin-left: -190px;
}

.plants-lover-info{
    margin: 38px 0px 38px 60px;
}

.plant-lover-info ul{
    margin-top: 0px;
}

.plants-lover-title{
    margin-bottom: 0px;
}

/* latest-deals section styles*/
.latest-deals-section{
    margin-top: 133px;
}

.latest-deals-info-title{
    margin-bottom: 16px;
}

.latest-deals-info-description{
    margin: 0 auto;
    width: 888px;
    height: auto;
}

.latest-deals-image-container{
    margin-top: 120px;
    gap: 28px;
}

.image-11{
    margin-bottom: 25px;
}

.image-11, .image-12, .image-21{
    border-radius: 14px;
}

.image-11, .image-12, .image-21{
    /* filter: brightness(100%); */
} 

.image-2 .zabo-plant{
    margin-top: -250px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.image-2 .shop{
    font-weight: 500px;
    font-size: 28px;
}

.bloom-plant{
    margin-left: -290px;
    margin-top: 70px;
}

.bloom-plant-shop{
    margin-left: -150px;
    margin-top: 110px;
}

.ana-plant{
    margin-top: -120px;
    margin-bottom: 10px;
}

/* join-section */

.join-section{
    margin: 0 auto;
    width: 1440px;
    margin-top: 120px;
    margin-bottom: 120px;

}

.subscribe-button{
    color: #FFFFFF;
    background-color: #E95A08;
    font-size: 16px;
    font-weight: 600;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    margin-left: -5px ;
    margin-top: -5px ;
}

.join{
    margin-top: -400px;
}

.join h3{
    color: #FFFFFF;
    margin-bottom: 23px;
}

.input input[type="email"]{
    width: 644px;
    height: 50px;
    background-color: #FFFFFF;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 500px;
    border: none ;
}

/* footer styles */
.footer{
    width: 1120px;
    height: auto;
    margin-top: 180px;
    padding: 50px 160px;
}

.footer-container{
    display: grid;
    grid-template-columns: minmax(250px, 1fr) minmax(85px, 1fr) minmax(170px, 1fr) minmax(200px, auto);
    gap: 111px;
}

.footer-img{
    width: 135px;
}

.footer-logo,
.footer-links,
.footer-list,
.social-media {
  width: auto;
}


.footer-logo,
.footer-links, 
.footer-list{
    display: flex;
    flex-direction: column;
}

.footer-links, 
.footer-list li{
    margin-bottom: 32px;
}


.footer-links ul, 
.footer-list ul{
    list-style: none;
}

.footer-links a,
.footer-list a{
    text-decoration: none;
    color: #6B7280;
}

.social-media img{
    margin-right: 24px;
}


/* responsive for mobile device */
@media screen and (max-width: 576px){

    /* navbar */
    .navbar{
        align-items: center;
        padding: 0 16px;
        justify-content: flex-start;
        margin: 10px;
    }
    
    .logo{
        width: 63px;
        height: 38px;
        padding: 7px 0px;
    }

    .special-cart{
        gap: 6px;
        padding: 7px 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .special-cart a{
        font-size: 14px;
    }

    .hidden{
        display: none;
    }

    .banner{
        flex-direction: column-reverse;
    }

    .banner-title {
        font-size: 24px;
    }

    .banner-description{
        font-size: 16px;
    }

    .banner-container{
        margin-left: 28px 16px 65px 16px;
        width: 100%;
        margin: 28px 16px;
    }

    .banner-image{
        margin: 20px;
    }

    .banner-image img{
        width: 100%;
        height: auto;
        display: block;
    }

    .latest-deals-image-container{
        align-items: stretch;
    }

    .plants-lover-section, .plants-lover-container, .latest-deals-section, .latest-deals-image-container{
        flex-direction: column;
    }

    .plant-section{
        margin: 15px;
    }

    .plants-lover-section{
        margin: 21px;
    }

    .flower-store-image{
        width: 540px;
        height: auto;
    }

    .plants-lover-title, .plant-title, .latest-deals-info-title{
        width: 100%;
        font-size: 24px;
    }

    .plant-lover-description, .plant-description, .latest-deals-info-description{
        font-size: 16px;
    }

    .plant-description{
        padding: 20px;
    }
    .plant-lover-info{
        width: 500px;
        margin: 15px;
        padding: 10px;
    }
    
    .plant-title{
        margin-top: 0px;
    }
    .plant-container{
        margin-top: 0px;
        width: 500px;
        margin: 20px;
    }

    .cart{
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
    }
    
    .carts-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        padding: 0 10px; 
    }

    .carts {
        max-width: 100%;
    }
    
    .flower-details-container{
        font-size: 16px;
        margin: 20px;
        margin-right: 20px;
        display: inline;
    }
    
    .flower-detaits{
        margin-bottom: 5px;
    }

    .button-container{
        margin-bottom: 28px;
    }
    
    .latest-deals-info, .latest-deals-info-description {
        margin-top: 10px;
        width: 500px;
        margin: 20px;
    }

    .latest-deals-image-container{
        width: 100%;
    }
    
    
  .latest-deals-image-container {
    display: block;
    padding: 0 12px;
  }

  .image-1,
  .image-2 {
    width: 520px;
    margin-left: 15px;
    margin-bottom: 24px;
  }

  .image-1-details,
  .image-2-detials {
    display: block;
    text-align: center;
  }

  .image-11,
  .image-12,
  .image-21 {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 12px;
  }

  .bloom-plant,
  .ana-plant,
  .zabo-plant,
  .bloom-plant-shop,
  .ana-plant-shop,
  .shop {
    display: block;
    margin-bottom: 8px;
  }

  .ana-plant{
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .zabo-plant{
    margin-bottom: 20px;
  }

  .latest-deals-image-container p{
    font-size: 20px;
  }

  .join-section{
    margin-top: 200px;
    max-width: 500px;
  }

  .input input[type="email"]{
    width: 218px;
  }

  .footer-img{
    width: 180px;
}

.footer-logo{
    width: 500px;
    margin: 0px;
    padding: 20px;
}

.footer-logo p{
    font-size: 20px;
}

.footer-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
}
.footer-links li, .footer-list li{
    font-size: 20px;
}

.footer-list{
    margin-top: -90px;
}

.footer-description{
    padding: 20px;
}

.footer{
    margin: 0px;
    padding: 20px;
}

.social-media{
    margin-top: -80px;
    padding: 40px;
}

}